@import url(./reset.css);

:root {
    --container-width: 1205px;
    --container-padding: 16px;
    --secondary: #97A3CF;
    --orange: #EFB557;
}

@media (max-width:768px) {
    :root {
        --container-width: 596px;
    }
}
@media (max-width:375px) {
    :root {
        --container-width: 375px;
    }
}

body {
    font-family: 'Mulish', sans-serif;
    color: #FAFAFA;
    background: #1B232E;
}
h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: calc(65 / 52 * 100%);
}
/* ------------------------------------------------------------------------------------ */
._wrapper {
    min-height: 100vh;
    overflow: hidden;
}
._container {
    box-sizing: content-box;
    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: 0 auto;
}
._container-right {
    padding-left: calc((100% - var(--container-width)) / 2 );
    margin: 0 auto;
}
._hidden {
    display: none;
}
._section-title {
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    text-transform: uppercase;
}
._custom-btn {
    position: relative;
    width: 100%;
    max-width: 222px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(20/14*100%);
    padding: 14px 56px 14px 32px;
}
._custom-btn::after {
    content: url(./../img/hero/01.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    margin-left: 8px;
}
._blue-btn {
    background: #676BDC;
    color: inherit;
}
._orange-btn {
    background-color: transparent;
    border: 2px solid #EFB557;
    color: var(--orange);
}
._orange-btn::after {
    content: url(./../img/hero/02.svg);
}
._section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-bottom: 57px;
}
._section-header h3 {
    margin-bottom: 54px;
}
._section-header a {
    position: relative;
    width: 100%;
    max-width: 162px;
    max-height: 48px;
    padding: 0;
    text-align: center;
    color: #676BDC;
}
._section-header a::after {
    content: url(./../img/case/01.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    top: 9%;
}
/* --HEADER---------------------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    min-height: 150px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}
.menu-list {
    display: flex;
}
.menu-iteam {
    font-size: 16px;
    line-height: calc(20/16*100%);
    color: inherit;
    color: var(--secondary);
}
.menu-list >*:not(:first-child) {
    margin-left: 20px;
}
.header-active {
    position: relative;
    margin-right: 6px;
    color: #FAFAFA;
    font-weight: 700;
}
.header-active::after {
    content: ' ';
    position: absolute;
    bottom: 4px;
    background-color: var(--orange);
    width: 4px;
    height: 4px;
    margin-left: 3px;
}
.burger {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.burger-header {
    position: relative;
    margin-top: 17px;
}
.burger-open {  
    width: 21px;
    background-color: #FAFAFA;
    border: 1.5px solid #FAFAFA;
    border-radius: 25px;
    transition: 0.2s;
}
.burger-open::after {
    content: '';
    position: absolute;
    left: 0 ;
    top: 10px;
    width: 21px;
    background-color: #FAFAFA;
    border: 1.5px solid #FAFAFA;
    border-radius: 25px;
    transition: 0.4s;
}
.burger-close::after {
    content: url(./../img/header/burger-close.svg);
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}
.burger-active-bg {
    background: #FAFAFA;
    transition: 0.5s;
}
.burger-active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 66.5px;
    padding-left: 28px;
    transition: 0.6s;
}
.burger-padding {
    padding-top: 71px;
    padding-bottom: 57px;
    transition: 0.3s;
}
.logo {
    margin-right: 65px;
}
@media (max-width:540px) {
    .logo {
        margin-right: 0;
    }
    .header-active {
        color: #676BDC;
    }
    .burger {
        padding-left: 16px;
        padding-right: 16px;
    }
    .menu-list >*:not(:first-child) {
        margin-left: 0px;
        margin-top: 20px;
    }
    .menu-iteam {
        display: block;
        text-align: center;
    }
}
/* --CONTACTS---------------------------------------------------------------------------------- */
.contacts {
    padding-top: 254px;
}
.contacts-section-title {
    display: block;
    float: left;
    margin-bottom: 56px;
}
.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
}
.contacts-title {
    display: block;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 40px;
    max-width: 560px;
    text-align: left;
}
.contacts-subtitle {
    margin-bottom: 40px;
}
.form-wrapper { 
}
.contacts-form {
    display: block;
    background: #222A35;
    padding: 42px 30px 30px 30px;
    width: 463px;
    margin-top: 47px;  
}
.contacts-inputs {
    display: flex;
    flex: 1 1 407px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 42px;
}
.contacts-inputs>*:not(:first-child, :nth-child(4)) {
    margin-left: 0px;
}
.contacts-inputs>*:not(:last-child) {
    margin-bottom: 24px;
}
.contacts-input {
    display: block;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.5;
    border-bottom: 1px solid #AEB4C2;   
    padding-bottom: 15px;
    transition: 0.2s;
}
.input-coment {
    max-width: 100%;
    flex-grow: 1;
}
.contacts-btn {
    background: #676BDC;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding: 14px 0px;
}
@media (max-width:1054px) {
    .contacts-wrapper {
        display: block;
    }
    .form-wrapper {
        margin-top: 80px;
    }
    .contacts-form {
        width: 100%;
        max-width: 600px;
    }
    .contacts-inputs {
        flex-direction: row;
    }
    .contacts-inputs>*:not(:first-child, :nth-child(4)) {
        margin-left: 114px;
    }
    .contacts-inputs>*:not(:first-child, :nth-child(4)) {
        margin-left: 0px;
    }
    .contacts-inputs>:nth-child(even) {
        margin-left: 76px;
    }
    .contacts-inputs>:not(:last-child) {    
        margin-bottom: 34px;
    }
}
@media (max-width:768px) {
    .contacts-inputs>*:not(:first-child, :nth-child(4)) {
        margin-left: 0px;
    }
    .contacts-inputs>:nth-child(even) {
        margin-left: 76px;
    }
    .contacts-inputs>:not(:last-child) {
        margin-bottom: 34px;
    }
}
@media (max-width:585px) {
    .contacts-title {
        max-width: 343px;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
    }
}
@media (max-width:507px) {
    .contacts-inputs {
        flex-direction: column;
    }
    .contacts-inputs>:nth-child(even) {
        margin-left: 0px;
    }
}
/* --FOOTER---------------------------------------------------------------------------------- */
.footer {
    background-image: url(./../img/footer/bg.jpg);
    background-repeat: repeat;
    margin-top: 65px;
}
.footer-container {
    padding: 31px 15px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 185px;
    padding-bottom: 36px;
    border-bottom: 1px solid #97A3CF;
}
.social {
    display: flex;
}
.social>*:not(:first-child) {
    margin-left: 11px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.footer-logo {
    max-width: 24px;
    margin: 0 auto;
}
.footer-list {
    display: flex;
    margin-top: 36.5px;
}
.footer-list>*:not(:first-child) {
    margin-left: 10px;
}

.info-list>*:not(:last-child) {
    margin-bottom: 18px;
}
.info-link {
    display: flex;
}
.info-descr {
    font-size: 14px;
    line-height: 137.5%;
    color: var(--secondary);
    margin-left: 18px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
    margin-top: 38px;
}
.footer-bottom p {
    color: #50619A;
    font-size: 12px;
    line-height: 137.5%;
}
@media (max-width:768px) {
    .footer-top {
        justify-content: center;
        order: 1;
    }
    .footer-menu {
        flex-direction: column-reverse ;
    }
    .footer-list {
        margin-top: 0;
        margin-bottom: 38px;
    }
    .social {
        align-self: flex-start ;
        margin-top: 130px;
        flex-wrap: nowrap;
    }
    .info {
        margin-top: 95px;
        padding-right: 10px;
    }
    .footer-bottom {
        flex-wrap: wrap;
       justify-content: center;
    }
}
@media (max-width:600px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .footer-menu {
        align-self: center;
        order: 1;
    }
    .social {
        align-self: center;
        margin-top: 46px;
        order: 2;
    }
    .info {
        order: 3;
        margin-top: 38px;
    }
}
@media (max-width:534px) {
    .footer-bottom p {
        margin-bottom: 42px;
    }
}